{% if site.layout == 'stacked' %}
  {% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}
{% else %}
  {% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{% endif %}

<div class="profile-wrapper">
  <a href="/">
    <img src="{{ author.image_url }}" class="circle mb-3" style="max-width: 150px;">
  </a>
</div>
{% if author.bio %}
  <p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    {{ author.bio }}
  </p>
{% endif %}
<div class="masthead">
  {% include navigation.html %}
</div>

{% if include.metadata %}
  <div class="f4 mb-6">
    {% if author.email %}
      <div class="{{ metadata_styles }}">
        {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
        <a href="mailto:{{ author.email }}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          {{ author.email }}
        </a>
      </div>
    {% endif %}
    {% if author.location %}
      <div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-white{% endif %}">
        {% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Location %}
        {{ author.location }}
      </div>
    {% endif %}
  </div>
{% endif %}

{% include social-media.html %}